.about{
  text-align: center;
  font-size: 70px;
  color: rgb(0, 0, 0);
  margin-top: 200px;
  margin-bottom: 200px;
  }
  
  .about__title {
    margin: 0;
    z-index: 1;
    font-family: "trebuchet ms", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 5px;
    gap: 30px;
  }

.person__caption {
  font-family: 'Trebuchet MS', sans-serif;
  padding-top: 70px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 20px;
  margin: 0; 
}


.person__image {
  max-width: 100%; 
  width: 200px;
  height: 200px;
}
