.mision__title{
    margin-top: 70px;
    font-weight: normal;
    font-size: 65px;
    line-height: 60px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 65px;
    line-height: 60px;
    text-align: center;
  }
  
  .mision__subtitle{
    margin-top: 44px;
    padding-left: 20%;
    padding-right: 20%;
    font-weight: normal;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
  }

  .vision__title{
    margin-top: 70px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 65px;
    line-height: 60px;
    text-align: center;
  }
  
  .vision__subtitle{
    margin-top: 44px;
    padding-left: 20%;
    padding-right: 20%;
    font-weight: normal;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
  }

  .valores__title{
    margin-top: 70px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 65px;
    line-height: 60px;
    text-align: center;
  }
  
  .valores__subtitle{
    margin-top: 44px;
    padding-left: 20%;
    padding-right: 20%;
    font-weight: normal;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    font-family: monospace;
    color: rgb(4, 65, 79);
  }

  .content__video-item{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    max-width: 100%;
  }