.results {
  font-size: 16px;
  line-height: 16px;
}

.results__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 4em;
  line-height: 2em;
  color: rgb(0, 0, 0);
  margin-top: 200px;
  margin-bottom: 10px;
}

.results__subtitle {
  margin-top: 24px;
  margin-bottom: 40px;
  font-size: 4em;
  line-height: 2em;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .results {
    font-size: 10px;
  }
}
